<div class="flex flex-col gap-5 rounded shadow border p-5">
  <strong class="text-sidebarTextColor">Detalles del articulo</strong>

  <div class="flex flex-col gap-3 w-full">
    <div class="flex items-center w-full">
      <div class="flex gap-1 w-6/12">
        <strong class="block font-medium mb-1">Nombre:</strong>
        <%= article.name %>
      </div>

      <div class="flex gap-1 w-3/12">
        <strong class="block font-medium mb-1">Precio:</strong>
        $<%= article.price %> MXN
      </div>

      <div class="flex gap-1 w-3/12">
        <strong class="block font-medium mb-1">Disponibles en almacén:</strong>
        <%= article.in_stock %>
      </div>
    </div>

    <div class="flex flex-col">
      <strong class="block font-medium mb-1">Descripción:</strong>
      <%= article.description %>
    </div>
  </div>
</div>
