<%= form_with(url: search_articles_path, class: 'flex flex-col') do |f| %>
  <div class="flex items-center relative">
    <%= f.text_field :name, class: 'w-[300px] input-tailwindcss', placeholder: 'Buscar por categoria (e.g. Deportes)' %>
    <button class="absolute right-2">
      <i class="fa-solid fa-magnifying-glass text-sidebarTextColor"></i>
    </button>
  </div>
<% end %>
