<div class="flex items-center gap-3">
  <%= link_to path, class: 'font-bold underline text-sidebarTextColor hover:text-primary duration-300' do %>
    <%= path_text %>
  <% end %>
  <i class="fa-solid fa-chevron-right text-sm text-sidebarTextColor"></i>
  <span class="font-medium text-sidebarTextColor"><%= text %></span>
</div>
