<div class="flex flex-col gap-3 w-full">
  <h3 class="font-medium text-lg text-sidebarTextColor">General</h3>
  <ul class="flex flex-col w-full">
    <li class="flex items-center w-full">
      <%= link_to root_path, class: style_to_sidebar_link(root_path) do %>
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
      <% end %>
    </li>

    <%# <li class="flex gap-2 items-center text-sidebarTextColor font-semibold duration-300">
      <i class="fa-solid fa-warehouse"></i>
      <span>Mis productos</span>
    </li>

    <li class="flex gap-2 items-center text-sidebarTextColor font-semibold duration-300">
      <i class="fa-solid fa-shapes"></i>
      <span>Categorias</span>
    </li> %>

    <li class="flex items-center">
      <%= link_to settings_path, class: style_to_sidebar_link(settings_path) do %>
        <i class="fa-solid fa-gear"></i>
        <span>Configuración</span>
      <% end %>
    </li>
  </ul>
</div>

<div class="flex flex-col">
  <h6 class="font-bold">José López</h6>
  <p class="font-medium text-sm">jose.lopez@gmail.com</p>
</div>
