<div class="flex md:hidden flex-col w-full gap-10" id="customers">
  <% if customers.any? %>
    <div class="flex flex-col w-full gap-2">
      <div class="flex w-full bg-gray-100 rounded p-1">
        <div class="flex text-xs sm:text-sm items-center w-4/12 font-bold text-sidebarTextColor">Nombre</div>
        <div class="flex text-xs sm:text-sm items-center w-3/12 font-bold text-sidebarTextColor">Teléfono</div>
        <div class="flex text-xs sm:text-sm items-center w-5/12 font-bold text-sidebarTextColor">Dirección</div>
      </div>

      <div class="flex flex-col w-full">
        <% customers.each do |customer| %>
          <div class="flex items-center w-full hover:bg-gray-100 py-2 px-1 duration-300 border-b">
            <div class="font-semibold text-xs sm:text-sm text-sidebarTextColor w-4/12"><%= customer.full_name %></div>
            <div class="font-semibold text-xs sm:text-sm text-sidebarTextColor w-3/12"><%= customer.phone_number %></div>
            <div class="font-semibold text-xs sm:text-sm text-sidebarTextColor w-5/12"><%= customer.address %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="font-semibold text-sm sm:text-base">No se encontraron clientes registrados.</p>
  <% end %>
</div>
