<div class="flex flex-col w-full gap-5" id="article_sells">
  <div class="flex flex-col w-full bg-white p-5 shadow rounded border">
    <%= render 'article_sells/form', { sell: sell, article_sell: ArticleSell.new, btn_text: 'Añadir articulo' } %>
  </div>

  <div class="flex flex-col w-full gap-5 bg-white p-5 shadow rounded border">
    <div class="flex w-full items-center justify-between">
      <h5 class="font-bold text-lg text-sidebarTextColor">Articulos añadidos</h5>
      <p class="font-medium text-sidebarTextColor">Total: <span class="font-bold underline">$ <%= number_with_delimiter(sell.article_sells.sum(:revenue).round(2), :delimiter => ',') %> MXN</span></p>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex w-full bg-gray-100 rounded px-5">
        <div class="w-1/12 text-sidebarTextColor font-bold">ID</div>
        <div class="w-1/12 text-sidebarTextColor font-bold">Imagen</div>
        <div class="w-4/12 text-sidebarTextColor font-bold">Articulo</div>
        <div class="w-1/12 text-sidebarTextColor font-bold text-center">Cantidad</div>
        <div class="w-2/12 text-sidebarTextColor font-bold text-end">Precio</div>
        <div class="w-2/12 text-sidebarTextColor font-bold text-end">Ganancias</div>
        <div class="w-1/12 text-sidebarTextColor font-bold text-end">Opciones</div>
      </div>
      <div class="flex flex-col w-full gap-2 px-5">
        <% sell.article_sells.each do |article_sell| %>
          <%= render 'article_sells/article_sell', { article_sell: article_sell } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
