<div class="flex flex-col h-full w-full">
  <%= render 'shared/navbar' do %>
    <h1 class="font-bold text-2xl text-sidebarTextColor">Añadir venta</h1>
  <% end %>

  <div class="flex flex-col overflow-y-auto p-5 gap-10 m-5 bg-white border rounded shadow">
    <%= render 'shared/breadcumb', { path: sells_path, path_text: 'Ventas', text: 'Añadir venta' } %>

    <%= render "form", { sell: @sell, btn_title: 'Guardar', cancel_path: sells_path, articles: Article.available_in_stock } %>
  </div>
</div>
